<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="ui_automation.hawk.Listeners" />
		<listener class-name="ui_automation.hawk.ExtentTestNGIReporterListener" />
	</listeners>
	<test name="Test1">
		<classes>
			<class name="Tests.ValidateUrl" />
		</classes>
	</test>
	<!-- <test name="Test2"> -->
	<!--	<classes>	-->
	<!--		<class name="Tests.HomePage" />-->
	<!--	</classes> -->
	<!-- </test> --><!-- COMMENTED INTENTIONALLY Test --> 
	<test name="Test3">
		<classes>
			<class name="Tests.SikuliTest" />
		</classes>
	</test>
	<test name="Test4">
		<classes>
			<class name="Tests.YahooValidateUrl" />
		</classes>
	</test>
</suite> <!-- Suite -->
